body{
	font-family: "Verdana";
	font-size: 62.5%;
}



.btn {
  box-shadow: inset 0 0 .1em black, 0 0 .1em rgba(255, 255, 255, 1);
  padding: 10px;
  padding-left: 25px;
	padding-right: 25px;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  text-align: center;
	text-decoration: none;
	font-size: 115%;
	min-width: 8em;
	border-radius:.5em;
}
.btn.grey{
		background: rgba(100, 100, 100, 1);
	  color:white;
}
.btn.red{
		background: rgba(200, 0, 0, 1);
	  color:white;
}
.btn.green{
		background: rgba(0, 150, 0, 1);
	  color:white;
}
.btn.blue{
		background: rgba(0, 0, 150, 1);
	  color:white;
}
.btn.orange{
		background: rgba(250, 150, 0, 1);
	  color:white;
}
.btn.yellow{
		background: rgba(250, 250, 0, 1);
	  color:white;
}

code{
	font-size: 150%;
}

.well{
	background: rgba(175, 175, 175, 1);
	padding:10px;
}